.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 100px;
  width: 100%;

  .title_block {

    input {
      border-radius: 5px;
      height: 35px;
      font-size: 16px;
      width: 100%;
      padding: 5px;
    }
  }

  textarea {
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }

  p {

  }
}