.wrapper {
  padding: 0 15px;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;


    .date_input {
      border-radius: 5px;
      height: 30px;
      padding: 5px;
      width: 130px;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 100px;
    width: 100%;

    .title_block {

      input {
        border-radius: 5px;
        height: 35px;
        font-size: 16px;
        width: 100%;
        padding: 5px;
      }
    }

    textarea {
      border-radius: 5px;
      padding: 5px;
      font-size: 16px;
    }

    p {

    }
  }

  .footer {
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.completed {
  background-color: green;
  color: white;
}