@use "src/styles/color-variables" as vars;

.wrapper {
  padding: 0 15px;
  box-shadow: 0 0 4px vars.$drop-shadow-small, 0 4px 16px vars.$drop-shadow-small;
  background-color: vars.$bg-primary;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  opacity: 0;
  animation: ani 2.5s forwards;
  @keyframes ani {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  input, textarea {
    border: 1.2px solid vars.$borders-divider-disabled-bg;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 1.2px solid vars.$color-primary;
    }
  }
}

.completed {
  background-color: vars.$success;
  color: white;
}

.edit {
  background-color: vars.$dark-secondary;
}

.after {
  background-color: vars.$warning;
}

.new {
  background-color: vars.$drop-shadow-small;
  opacity: 1;
}